:root {
    --font-family: Calibri;
    --font-size: 16px;
    --primary-color: white;
    --secondary-color: #8ab5e3;
    --tertiary-color: gainsboro;
    --primary-text-color: black;
    --secondary-text-color: #384b93;
    --avatar-border-width: 25px;
    --avatar-padding: 40px;
    --avatar-border-color: white;
    --margin-small: 8px;
    --margin-large: 24px;
}

body {
    color: var(--primary-text-color);
    font-family: var(--font-family);
    font-size: var(--font-size);
    margin: 0;
    padding: 0;
}

.title-section {
    background-color: var(--secondary-color);
}

.personal-info-container ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.personal-links-section a, .about-section a, .skills a {
    color: var(--primary-text-color);
}

.personal-link {
    display: inline-flex;
    align-items: center;
}

.scroll-container section {
    margin-left: var(--margin-large);
    margin-right: var(--margin-large);
}

.experience-section h3 {
    margin-bottom: 0;
}

.experience-title, 
.experience-date-range, 
.experience-location, 
.experience-responsibilities,
.experience-technologies {
    display: block;
}

.experience-company {
    color: var(--secondary-text-color);
    white-space: nowrap;
}

.experience-date-range, 
.experience-location {
    font-style: italic;
}

.experience-technologies {
    margin-top: 20px;
}

.experience-technologies ul {
    display: inline;
    list-style: none;
    padding-left:0;
}

.experience-technologies li {
    display: inline;
}

.experience-technologies li:after {
    content: ", ";
}

.experience-technologies li:last-child::after {
    content: "";
}

.skills .svg {
    height: 1rem;
}

.skills ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-left: 1.2rem;
}

.clickable {
    position: relative;
    cursor: pointer;
    width: fit-content;
}

.link {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
}
